version: "3.8"

services:

  mongo:
    container_name: mongo-dummy
    image: mongo:latest
    networks: 
      - pbw-networks
    ports:
      - "27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root

networks:
  pbw-networks:
    external: true